<?php 
	$data["description"] = $truyen->truyen_ten.", đọc truyện tranh ".$truyen->truyen_ten." chương mới nhất - cập nhật nhanh và sớm nhất tại Truyện tranh online - vềnhàthôi.vn";
	$this->load->view('includes/header.html', $data);
?>
<style type="text/css">
	.fb_iframe_widget iframe {
	    position: inherit;
	}
</style>
<link rel="stylesheet" type="text/css" href="<?php echo base_url() ?>/public/css/detail.css">
<?php $this->load->view('includes/gg_adsense_1.html');?>
<div id="container" class="col-lg-8" style="padding:0px">
	<div class="lineleftcont">
		<img onerror='this.src="../../../public/not-found.png";' class="imgdetail" alt="Ác Ma Bá Yêu Chỉ Yêu Cô Gái Nhỏ Ngọt Ngào" width="195" height="225" src="../../../public/img/<?= $truyen->truyen_image ?>"> 
			<div class="contdetail"> 
				<input type="hidden" id="hiddenKey" value="{{truyen.code}}"> 
				<p style="display: none;">Wed, 21 Jan 2015 15:03:22 +0700</p> 
				<h1 class="title">
					<a class="description" title="<?= $truyen->truyen_ten ?>" href=""><?= $truyen->truyen_ten ?></a>
				</h1> 
				<span class="author">Tác giả: <?= $truyen->truyen_tac_gia ?></span>
				<br> 
				<span class="type">
					Thể loại: 
					<?php foreach ($truyen->truyen_the_loai as $theloai) { ?>
					<a title="<?= $theloai->theloai_ten ?>" href="<?= $theloai->theloai_code ?>"><?= $theloai->theloai_ten ?></a>
					<?php } ?>
				</span>
				<br> 
				<span class="type">Nguồn: <a class="description" title="<?= $truyen->truyen_ten ?>" href="http://truyentranhtuan.com/">truyentranhtuan.com</a></span>
				<br> 
				<span class="status">
					Tình trạng: <a><?= ($truyen->truyen_tinh_trang == "dang-tien-hanh"? "Đang tiến hành" : "Hoàn thành") ?></a>
				</span>
				<br>
				<span class="view">
					Lượt xem: <a>0</a>
				</span>
				<br>
				<span class="view">
					<a href="/getallchuong/{{truyen.code}}/1">Cập nhật tất cả các chương</a>
				</span>
			</div> 
		<div class="clearfix"></div> 
			<div class="social"> 
			<div class="clearfix"></div> 
		</div> 
		<div class="mota">
			<h3 class="shot">Tóm tắt nội dung truyện</h3> 
			<div id="detail-mota" ng-bind-html="detail">
				<?= $truyen->truyen_noi_dung ?>
			</div> 
			<div style="text-align: center;"><a ng-click="xemthem($event)" class="more">Xem thêm</a></div> 
		</div> 
	</div>
	<div class="lineleftcont"> 
		<div class="tab-title"> 
			<img class="newico" alt="5 Chương mới cập nhật" width="1" height="1" src="http://webtruyen.com/frontend/image/blank.gif"> 
			<h2>5 Chương mới cập nhật <?= $truyen->truyen_ten ?></h2> 
			<div class="clearfix"></div> 
		</div> 
		<ul class="fiveup"> 
			<?php foreach ($chuong_moi as $row) {?>
			<li> 
				<img class="updateico" alt="Chương mới cập nhật" width="1" height="1" src="http://webtruyen.com/frontend/image/blank.gif"> 
				<a href="/truyen/home/read/<?= $row->chuong_code ?>" class="chap">Chương <?= $row->chuong_num ?>: </a> 
				<a title="<?= $row->chuong_nhom_dich ?>" href="/truyen/home/read/<?= $row->chuong_code ?>"><?= $row->chuong_nhom_dich ?></a> 
				<span class="ngay">Cập nhật ngày: <?= $row->chuong_date_update ?></span> 
			</li> 
			<?php } ?>
		</ul> 
	</div>
	<div class="lineleftcont"> 
		<div class="tab-title"> 
			<img class="list1" alt="Danh sách chương" width="1" height="1" src="http://webtruyen.com/frontend/image/blank.gif"> 
			<h2><?= $truyen->truyen_ten ?></h2> 
			<div class="clearfix"></div> 
		</div> 
		<div id="divlistbook"> 
			<div class="gridlistchapter"> 
				<div width="100%" class="ulheader"> 
					<ul>
						<li> 
							<span class="spanstt">STT</span> 
							<span class="spanchapter">Chương</span> 
							<span class="spanchaptername nobook">NHÓM DỊCH</span> 
							<span class="spandataup">Cập nhật</span> 
						</li>
					</ul> 
				</div> 
				<div class="ullistchap" width="100%"> 
					<ul> 
						<?php $i = 1; foreach ($chuongs as $chuong) {?>
						<li>
							<span class="spanstt"><?= $i++ ?></span> 
							<span class="spanchapter"><a title="<?= $chuong->chuong_nhom_dich ?>" href="/truyen/home/read/<?= $chuong->chuong_code ?>">Chương <?= $chuong->chuong_num ?></a></span> 
							<span class="spanchaptername nobook">
								<a title="<?= $chuong->chuong_nhom_dich ?>" href="/truyen/home/read/<?= $chuong->chuong_code ?>"><?= ($chuong->chuong_nhom_dich)?$chuong->chuong_nhom_dich:"&nbsp" ?></a>
							</span> 
							<span class="spandataup"><?= $chuong->chuong_date_update ?></span> 
						</li> 
						<?php } ?>
					</ul> 
				</div> 
			</div>
		</div>
	</div>
</div>
<?php $this->load->view('includes/gg_adsense_2.html');?>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.4&appId=<?= APPID ?>";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="col-lg-8 col-lg-offset-2">
	<div class="fb-like leftBox" data-href="<?= base_url() ?>home/detail/<?= $truyen->truyen_code ?>"></div>
	<div class="fb-share-button rightBox" data-href="<?= base_url() ?>home/detail/<?= $truyen->truyen_code ?>" data-layout="button_count"></div><br>
	<div class="fb-comments " data-href="<?= base_url() ?>home/detail/<?= $truyen->truyen_code ?>" data-width="100%" data-numposts="5"></div>	
</div>

<?php $this->load->view('includes/footer.html');?>