<?php 
	$data["description"] = "Truyện tranh trực tuyến cập nhật nhanh nhất - truyện tranh Naruto, One Piece, Bleach, Fairy Tail, Dragon Ball.... - đọc truyện tranh tại vềnhàthôi.vn";
	$this->load->view('includes/header.html', $data);
?>
	<style type="text/css">
		.paging{
			clear: both;
			text-align: center;
    		padding-top: 15px;
		}
		.paging a{
			padding: 1px;
			margin: 3px;
			color: white;
			background: -webkit-linear-gradient(top,#009BE4,#0966A3) repeat-x;
			display: inline-flex;
			padding: 0px 5px;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="<?php echo base_url() ?>/public/css/danhsachtruyen.css">
	<?php $this->load->view('includes/gg_adsense_1.html');?>
	<div id="container" class="col-lg-8" style="padding:0px">
	<ul class="list_ct">
		<?php foreach ($result as $row) { ?>
		<li>
			<h3 class="prodTitle">
				<a title="" href="/truyen/home/detail/<?= $row->truyen_code ?>"><?= $row->truyen_ten ?></a>
			</h3>
			<div class="list_img">
				<a title="<?= $row->truyen_ten ?>" href="/truyen/home/detail/<?= $row->truyen_code ?>">
					<img onerror='this.src="../../../public/not-found.png";' width="140" height="208" class="imgprod" alt="<?= $row->truyen_ten ?>" src="../../../public/img/<?= $row->truyen_image ?>">
				</a>
			</div>
			<div class="l_dtail">
				<h3 class="rpsTitle">
					<a title="<?= $row->truyen_ten ?>" href="/truyen/home/detail/<?= $row->truyen_code ?>"><?= $row->truyen_ten ?></a>
				</h3>
				<input type="hidden" value="<?= $row->truyen_chuong_moi ?>" />
				<div class="bgprod">Chương <?= $row->truyen_chuong_moi ?></div>
			</div>
			<div class="clearfix"></div>
		</li>
		<?php } ?>
	</ul>
	<div class="paging"><?= $link ?></div>
	</div>
	<?php $this->load->view('includes/gg_adsense_2.html');?>
<?php $this->load->view('includes/footer.html');?>