<?php 
	$data["description"] = "Danh sách - Truyện tranh online - vềnhàthôi.vn";
	$this->load->view('includes/header.html', $data);
?>
<link rel="stylesheet" type="text/css" href="<?php echo base_url() ?>/public/css/list.css">
<?php $this->load->view('includes/gg_adsense_1.html');?>
<div id="container" class="col-lg-8" style="padding:0px;text-align: center">
	<div id="main-content">
	    <div id="list-order">
	      <p class="list-anchor scroll"><a href="#index0-9">#</a> <a href="#indexa">A</a> <a href="#indexb">B</a> <a href="#indexc">C</a> <a href="#indexd">D</a> <a href="#indexe">E</a> <a href="#indexf">F</a> <a href="#indexg">G</a> <a href="#indexh">H</a> <a href="#indexi">I</a> <a href="#indexj">J</a> <a href="#indexk">K</a> <a href="#indexl">L</a> <a href="#indexm">M</a> <a href="#indexn">N</a> <a href="#indexo">O</a> <a href="#indexp">P</a> <a href="#indexq">Q</a> <a href="#indexr">R</a> <a href="#indexs">S</a> <a href="#indext">T</a> <a href="#indexu">U</a> <a href="#indexv">V</a> <a href="#indexw">W</a> <a href="#indexx">X</a> <a href="#indexy">Y</a> <a href="#indexz">Z</a>
	      </p>
	    </div>
	    <div class="divide"></div>
	    <div id="new-chapter">
	    	<a name="index0-9"></a>
		    <div id="0-9" class="anchor"># (<p class="scroll"><a href="#indextop">về đầu trang</a></p>)</div>
	    	<?php 
	    		$char1 = 65;
	    		$char2 = 97;
	    	 	foreach ($truyens as $row) {
	    	?>
		    	<?php if($char1 == ord($row->truyen_ten[0]) || $char2 == ord($row->truyen_ten[0])){ ?>
		        <a name="index0-9"></a>
		        <div id="index<?= chr($char2); ?>" class="anchor"><?= chr($char1); ?> (<p class="scroll"><a href="#list-order">về đầu trang</a></p>)</div>
		        <?php $char1++;$char2++; } ?>
		        <div class="manga-focus">
		            <span class="manga"><a href="/truyen/home/detail/<?= $row->truyen_code ?>" rel="bookmark"><?= $row->truyen_ten ?></a></span>
	                <span class="chapter">
		            	<a href="/truyen/home/read/<?= $row->truyen_code.'-chuong-'.$row->truyen_chuong_moi ?>">Chương <?= $row->truyen_chuong_moi ?> </a>
	                </span>
	                <span class="current-date">
		                  <?= $row->truyen_date_update ?>
		            </span>
	            </div>
            <?php } ?>
	                                        
	        <br class="clear">
	    </div>
	</div>
</div>
<?php $this->load->view('includes/gg_adsense_2.html');?>

<script type="text/javascript">
	$("a[href^=#]").click(function (e){
		e.preventDefault();
		// var id = this.hash.replace("#", "");
		var scroll = $(this.hash)[0].offsetTop;
		$('html,body').animate({'scrollTop' : scroll}, 200);

	});
</script>

<?php $this->load->view('includes/footer.html');?>