<?php 
	$data["description"] =$truyen->truyen_ten." ".$chuong->chuong_num.", truyện ".$truyen->truyen_ten." ".$chuong->chuong_num." tiếng Việt - Đọc ".$truyen->truyen_ten." ".$chuong->chuong_num." chất lượng cao, cập nhật nhanh và sớm nhất tại  vềnhàthôi.vn";
	$this->load->view('includes/header.html', $data);
?>



<div class="col-lg-8 col-lg-offset-2">
	<div class="col-lg-3 ml40">
		<span class="col-lg-6 pr0" style="line-height: 25px;" >
			Chương:
		</span>
		<select class="col-lg-6 chuong">
		  <?php foreach ($chuongs as $row) {?>
		  <option <?= ($row->chuong_code == $code)?"selected":"" ?> value="<?= $row->chuong_code ?>"><?= $row->chuong_num ?></option>
		  <?php } ?>
		</select>
	</div>
</div>
<div id="image_list" class="row" style="padding:0px;text-align: center">
	<?php if(isset($images)){ foreach ($images as $key => $value) {
	?>
		<img src="<?= $value ?>" onerror="<?= base_url() ?>public/not-found.png" >
	<?php }} ?>

</div>
<?php $this->load->view('includes/gg_adsense_ngang_1.html');?>
<div class="col-lg-8 col-lg-offset-2 mt10">
	<div class="col-lg-3 ml40">
		<span class="col-lg-6 pr0" style="line-height: 25px;" >
			Chương:
		</span>
		<select class="col-lg-6 chuong">
		  <?php foreach ($chuongs as $row) {?>
		  <option <?= ($row->chuong_code == $code)?"selected":"" ?> value="<?= $row->chuong_code ?>"><?= $row->chuong_num ?></option>
		  <?php } ?>
		</select>
	</div>
</div>
<?php $this->load->view('includes/gg_adsense_ngang_2.html');?>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.4&appId=<?= APPID ?>";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="col-lg-8 col-lg-offset-2 mt20">
	<div class="fb-like leftBox"></div>
	<div class="fb-share-button rightBox" data-href="<?= base_url() ?>truyen/home/read/<?= $code ?>" data-layout="button_count"></div>
	<div class="fb-comments" data-href="<?= base_url() ?>truyen/home/read/<?= $code ?>" data-width="100%" data-numposts="5"></div>	
</div>


<script type="text/javascript">
var list_image = [
<?php foreach ($images2 as $key => $value) {?>
	<?= "\"".$value."\"," ?>
<?php } ?>
];
$(function(){
	 var host_name = "<?= base_url(); ?>";
	$(".chuong").change(function () {
		window.location = this.value;
	});
	getimage(0);
	function getimage(i)
	{
		link = host_name+"truyen/home/getImageTruyen/";
		var data = [];
		 $.ajax({
		 	type: "POST",
            url:link,
            data: {url: list_image[i]},
            success: function (data){
                var html = "<img src=\"data:image\/jpeg;base64,"+data+"\" \/>";
                $("#image_list").append(html);
                if(i < list_image.length)
                {
                	getimage(i+1);
                }
            }
        });
	}

});
</script>
<?php $this->load->view('includes/footer.html');?>