<?php $this->load->view('includes/admin_header.html');?>
<link rel="stylesheet" type="text/css" href="<?php echo base_url() ?>/public/css/list.css">
<style type="text/css">
  .chapter{
    width: 15%;
  }
  #new-chapter{
    min-height: 600px;
  }
</style>
<div class="row">
  <?php $this->load->view('includes/user_left_menu.html');?>
  <div id="container">
  <div id="new-chapter">
    <div class="manga-focus">
      <span class="manga"><a href="#" rel="bookmark">Tên Truyện</a></span>
      <span class="chapter">
      <a href="#">Mới đọc</a>
      </span>
      <span class="chapter">
      <a href="#">Mới Nhất</a>
      </span>
      <span class="current-date">
          Ngày đọc
      </span>
    </div>
    <?php foreach ($list_truyen as $item) { ?>
    <div class="manga-focus">
      <span class="manga"><a href="/truyen/home/detail/<?= $item->truyen_code ?>" rel="bookmark"><?= $item->truyen->truyen_ten ?></a></span>
      <span class="chapter">
      <a href="/truyen/home/read/<?= $item->chuong_code ?>">Chương <?= $item->chuong->chuong_num ?> </a>
      </span>
      <span class="chapter">
      <a href="/truyen/home/read/<?= $item->truyen->truyen_code_chuong_moi ?>">Chương <?= $item->truyen->truyen_chuong_moi ?> </a>
      </span>
      <span class="current-date">
          <?= $item->date_update ?>        
      </span>
    </div>
    <?php } ?>
  </div>
  </div>
</div>