<?php $this->load->view('includes/admin_header.html');?>
<script type="text/javascript" src="<?php echo base_url() ?>/public/js/jquery.plugin.js"></script>
<script type="text/javascript" src="<?php echo base_url() ?>/public/js/jquery.datepick.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo base_url() ?>/public/css/jquery.datepick.css">
<script type="text/javascript">
	$(function() {
	$('#popupDatepicker').datepick({
		maxDate:new Date(),
		defaultDate:"<?= $user->user_birthday ?>",
	});
});
</script>
<style type="text/css">
  .col-md-3, .col-md-9{
    padding: 0px;
    margin: 0px;
  }
  .w100
  {
    width: 100%;
  }
  .form_error{
    color: red;
  }
  .form_error p
  {
    margin: 0px;
  }
</style>
<div class="row">
    <?php $this->load->view('includes/user_left_menu.html');?>
    <!-- Main Content -->
    <div id="container">
    <div class="container-fluid col-lg-9">
        <div class="row">
	      <div class="col-md-12 pa0 mt10">
	        <div class="well well-sm pa5">
	          <form class="form-horizontal ma0" action="/user/home" method="post">
	          <fieldset>
	            <legend class="text-center pa10">Thông tin cá nhân</legend>
	            <div class="row ma0 mt10">
	              <div class="col-md-3 right">Họ và Tên:</div>
	              <div class="col-md-8">
	                <input name="user[user_display_name]" type="text" class="ma0 w100" value="<?= set_value('user[user_display_name]', $user->user_display_name) ?>" />
	                <div class="form_error"><?= form_error("user[user_display_name]") ?></div>
	              </div>
	            </div>
	            <div class="row ma0 mt10">
	              <div class="col-md-3 right">Email:</div>
	              <div class="col-md-8">
	                <input name="user[user_email]" type="text" class="ma0 w100" value="<?= set_value('user[user_email]', $user->user_email) ?>" />
	                <div class="form_error"><?= form_error("user[user_email]") ?></div>
	              </div>
	            </div>
	            <div class="row ma0 mt10">
	              <div class="col-md-3 right">Phone:</div>
	              <div class="col-md-8">
	                <input name="user[user_phone]" type="text" class="ma0 w100" value="<?= set_value('user[user_phone]', (isset($user->user_phone))?$user->user_phone:'') ?>" />
	                <div class="form_error"><?= form_error("user[user_phone]") ?></div>
	              </div>
	            </div>
	            <div class="row ma0 mt10">
	              <div class="col-md-3 right">BirthDay:</div>
	              <div class="col-md-8">
	                <input id="popupDatepicker" name="user[user_birthday]" type="text" class="ma0 w100" value="<?= set_value('user[user_birthday]', (isset($user->user_birthday) && $user->user_birthday != '0000-00-00')?$user->user_birthday:'') ?>" />
	                <div class="form_error"><?= form_error("user[user_birthday]") ?></div>
	              </div>
	            </div>
	            <div class="row ma0 mt10">
	              <div class="col-md-3 right">Tên đăng nhập:</div>
	              <div class="col-md-8">
	                <input readonly name="user[user_name]" type="text" class="ma0 w100" value="<?= set_value('user[user_name]', $user->user_name) ?>" />
	                <div class="form_error"><?= form_error("user[user_name]") ?></div>
	              </div>
	            </div>
	            <div class="row ma0 mt10">
	              <div class="col-md-3 right">Mật khẩu:</div>
	              <div class="col-md-8">
	                <input name="user[user_password]" type="password" class="ma0 w100" value="<?= set_value('user[user_password]', 'venhathoi.vn') ?>" />
	                <div class="form_error"><?= form_error("user[user_password]") ?></div>
	              </div>
	            </div>
	            <div class="row ma0 mt10">
	              <div class="col-md-3 right">Xác nhận mật khẩu:</div>
	              <div class="col-md-8">
	                <input name="user[user_password_confirm]" type="password" class="ma0 w100" value="<?= set_value('user[user_password_confirm]', 'venhathoi.vn') ?>" />
	                <div class="form_error"><?= form_error("user[user_password_confirm]") ?></div>
	              </div>
	            </div>
	            <!-- Form actions -->
	            <div class="form-group ma0 pa10">
	              <div class="col-md-12 text-right">
	                <button type="submit" class="btn btn-primary btn-lg">Cập Nhật</button>
	              </div>
	            </div>
	          </fieldset>
	          </form>
	        </div>
	      </div>
		</div>
    </div>
    </div>
</div>
<?php $this->load->view('includes/footer.html');?>