<?php $this->load->view('includes/admin_header.html');?>
<style type="text/css">
    .screen{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: gray;
        opacity: 0.3;
        background-image: url("<?php echo base_url() ?>/public/eat-man-anh-bia.gif");
        background-repeat: no-repeat;
        background-position: center;
    }
    .rmscreen{
        display: none;
    }
</style>
<div class="row">
    <?php $this->load->view('includes/admin_left_menu.html');?>
    <!-- Main Content -->
    <div class="container-fluid col-lg-9">
        <div class="side-body">
           <h1> Main Content here </h1>
           <pre> Resize the screen to view the left slide menu </pre>
           <select id="api_action" class="form-control">
              <option value="">Chọn một hành động</option>
              <option value="UpdateAllTruyen">Cập nhật tất cả truyện</option>
              <option value="updateTruyenEveryDay">Cập nhật truyện được up trong ngày</option>
              <option value="updateTruyenByCodeTruyen">Cập nhật 1 bộ truyện bất kỳ</option>
            </select><br>
            <div id="searchform" style="display: none">
            Truyện: <input class="form-controll" id="searchTruyen" /><br>
            <input class="form-controll" type="hidden" value="" id="truyen_code" />
            </div> 
            <button id="action" type="button" class="btn btn-warning mt10">Run</button>
        </div>
    </div>
</div>
<div id="screen" class="screen rmscreen"></div>

<script type="text/javascript">
    $(function (){
        var host_name = "<?= base_url(); ?>";
        $("#action").click(function (){
            if($("#api_action").val() == "")
            {
                alert("Chọn một hành động trước khi thực hiệt");
                return;
            }
            if(!confirm("Bạn có chắc muốn thực hiện hành động này không!!!")){
                return;
            }
            else{
                var link = host_name+"admin/truyen_api/"+$("#api_action").val();
                if($("#api_action").val() == "updateTruyenByCodeTruyen")
                {
                    link += "/"+$("#truyen_code").val();
                }
                $.ajax({
                    url:link,
                    // url:host_name+"admin/truyen_api/test",
                    beforeSend: function(){
                        $("#screen").removeClass("rmscreen");
                    },
                    success: function (data){
                        $("#screen").addClass("rmscreen");
                        $("#truyen_code").val("");
                        $("#searchTruyen").val("");
                        
                        // alert(data);
                    }
                });
            }
        });

        $("#api_action").change(function (){
            if($(this).val() == "updateTruyenByCodeTruyen"){
                $("#searchform").css("display", "");
            }else{
                $("#searchform").css("display", "none");
            }
        });

    });
</script>