ul.list_ct {
	    list-style: none;
	    padding: 0;
	}
	ul.list_ct li {
	    width: 146px;
	    float: left;
	    display: block;
	    margin: 5px;
	    background: #4dbce9;
	    position: relative;
	    color: #fff;
	}
	li {
	    line-height: 20px;
	}

	li {
	    text-align: -webkit-match-parent;
	}

	h3.prodTitle, h3.rpsTitle {
	    font-size: 11px;
	    width: 130px;
	    line-height: 14px;
	    margin: 5px auto;
	    padding: 3px 0;
	    text-align: center;
	    border-top: solid 2px #ebf8ff;
	    border-bottom: solid 2px #ebf8ff;
	    height: 26px;
	    overflow: hidden;
	}

	h3.prodTitle{
		height: 23px;
	}

	ul.list_ct li a {
	    text-decoration: none;
	}

	h3.prodTitle a {
	    color: #fff;
	}

	h3 {
	    display: block;
	    -webkit-margin-before: 1em;
	    -webkit-margin-after: 1em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	}
	a {
	    color: #0088cc;
	    text-decoration: none;
	}

	.imgprod {
	    width: 100%;
	    height: 215px;
	    border-bottom: solid 2px #ebf8ff;
	    border-radius: 3px;
	}

	img {
	    max-width: 100%;
	    vertical-align: middle;
	    border: 0;
	}

	.bgprod {
	    width: 100%;
	    height: 20px;
	    background: #0082c8;
	    text-align: center;
	    margin-top: 3px;
	    text-shadow: 1px 1px 3px #333;
	    font-size: 11px;
	    font-weight: bold;
	}

	h3.rpsTitle {
	    display: none;
	}

	ul {
	    display: block;
	    list-style-type: disc;
	    -webkit-margin-before: 1em;
	    -webkit-margin-after: 1em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	    -webkit-padding-start: 40px;
	}