.lineleftcont {
	    margin: 15px 0 10px 20px;
	    border-bottom: dotted 1px #4dbce9;
	    padding-bottom: 10px;
	}
	.imgdetail {
	    height: 225px;
	    width: auto;
	    float: left;
	    display: block;
	    margin-right: 20px;
	}
	img {
	    max-width: 100%;
	    vertical-align: middle;
	    border: 0;
	}
	.contdetail h1 {
	    line-height: 0.7;
	}
	h1 {
	    font-size: 38.5px;
	}
	.contdetail h1 a {
	    text-decoration: none;
	    font-size: 20px;
	    font-weight: normal;
	    color: #333;
	    text-transform: uppercase;
	    font-weight: bold;
	    color: #0082C8;
	}
	.contdetail span {
	    color: #333;
	    text-decoration: none;
	    line-height: 1.8;
	}
	.contdetail span a {
	    font-weight: bold;
	    color: #0082c8;
	    font-family: Tahoma;
	    font-size: 13px;
	}
	.shot {
	    background: #1d8ecb url(../img/bg_title.png) left no-repeat;
	    color: #fff;
	    padding: 6px 0 6px 20px;
	    font-weight: normal;
	    text-transform: uppercase;
	    font-size: 14px;
	    margin: 10px 0;
	}
	a {
	    color: #0088cc;
	    text-decoration: none;
	}

	a.more {
	    background: url(../img/more_bt.png) left no-repeat;
	    color: #097fbf;
	    cursor: pointer;
	    padding-left: 15px;
	    font-weight: bold;
	    font-family: tahoma;
	    line-height: 1.5;
	}

	.newico {
	    background: url(../img/doctruyen.png);
	    background-position: -46px -317px;
	    width: 30px;
	    height: 29px;
	    float: left;
	    display: block;
	    margin: 0 10px 0 0;
	}

	.tab-title h2 {
	    font-family: Tahoma;
	    color: #26ade4;
	    font-size: 16px;
	    font-weight: 600;
	    margin: 0;
	    padding: 5px 0 0;
	    display: block;
	}

	.updateico {
	    background: url(../img/doctruyen.png);
	    background-position: -47px -348px;
	    width: 24px;
	    height: 24px;
	}
	ul.fiveup li a.chap {
	    font-weight: bold;
	}
	ul.fiveup li a {
	    text-decoration: none;
	    font-family: Tahoma;
	    font-size: 14px;
	    color: #333;
	}
	.ngay {
	    font-size: 10px;
	    font-style: italic;
	    font-weight: 100;
	    color: #999;
	    margin-left: 2px;
	}

	.list1 {
	    background: url(../img/doctruyen.png);
	    background-position: -234px -231px;
	    width: 16px;
	    height: 16px;
	    float: left;
	    display: block;
	    margin: 6px 10px 0 0;
	}
	.tab-title h2 {
	    font-family: Tahoma;
	    color: #26ade4;
	    font-size: 16px;
	    font-weight: 600;
	    margin: 0;
	    padding: 5px 0 0;
	    display: block;
	}
	.gridlistchapter {
	    margin: 10px 0;
	    width: 100%;
	}
	.ulheader ul {
	    background: #0082c8;
	    border-bottom: 1px solid #fff;
	    overflow: hidden;
	    margin: 0;
	}
	.ulheader ul li {
	    clear: both;
	    color: #fff;
	    padding: 5px;
	    text-transform: uppercase;
	}
	.ullistchap ul li [class*="span"], .ulheader ul li [class*="span"] {
	    margin-right: 2%;
	    float: left;
	}
	.gridlistchapter [class*="span"] {
	    margin-left: 0px;
	}
	.spanchapter {
	    width: 13%;
	}
	.spanstt {
	    width: 8%;
	}
	.spanchaptername.nobook {
	    width: 58%;
	}
	.spanchaptername {
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}
	span:last-child {
	    text-align: right;
	}
	.ullistchap ul {
	    margin: 0;
	}
	.ullistchap ul li:nth-child(2n+1) {
	    background-color: #CBF0FF;
	}
	.ullistchap ul li {
	    clear: both;
	    background-color: #7DD7FC;
	    overflow: hidden;
	    color: #666161;
	    font-size: 11px;
	    font-weight: bold;
	    border-top: 1px solid #fff;
	    padding: 5px;
	}
	li {
	    line-height: 20px;
	}
	li {
	    display: list-item;
	    text-align: -webkit-match-parent;
	}
	.pagination {
	    list-style: none;
	    margin: 0;
	    padding: 0;
	    margin-bottom: 10px !important;
	}
	.pagination ul {
	    display: inline-block;
	    margin-bottom: 0;
	    margin-left: 0;
	    -webkit-border-radius: 4px;
	    -moz-border-radius: 4px;
	    border-radius: 4px;
	    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	}
	.pagination ul > li {
	    display: inline;
	}
	.pagination ul > li.active > a {
	    background: #009BE4;
	}
	.pagination ul > li > a {
	    background: url(../img/bg_ft.png) repeat-x;
	    background: -webkit-linear-gradient(top,#009BE4,#0966A3) repeat-x;
	    background: -moz-linear-gradient(top,#009BE4,#0966A3) repeat-x;
	    background: -os-linear-gradient(top,#009BE4,#0966A3) repeat-x;
	    background: linear-gradient(top,#009BE4,#0966A3) repeat-x;
	    padding: 0px 6px !important;
	    color: #fff;
	    font-size: 10px;
	    margin-right: 10px;
	    border-radius: 4px !important;
	    border: none !important;
	}