#list-order {
    background-color: rgba(13, 19, 26, 0.95);
    border: 1px solid rgba(255,255,255,0.3);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    min-height: 32px;
    padding: 15px 34px;
}

.list-anchor {
    display: block !important;
    margin: 5px auto 0;
    text-align: center;
    width: 100%;
}

.list-anchor a {
    text-decoration: none;
    padding: 5px;
    min-width: 20px;
}

#new-chapter {
    background-color: rgba(13, 19, 26, 0.6);
    border: 1px solid rgba(255,255,255,0.3);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 25px 0 0 0;
    font: normal 14px/40px 'Open Sans', Arial, Helvetica, sans-serif;
}

.anchor {
    margin: 10px 0 10px 42px;
    color: #FFD600;
    clear: both;
    text-align: left;
    font-weight: 600;
}

p.scroll {
    display: inline;
}

.manga-focus {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
}

.manga {
    width: 33%;
    float: left;
    font-weight: bold;
    text-align: left;
    padding-left: 40px;
}

.manga, .chapter, .current-date, .old-date {

}

.chapter a, .manga a, #new-manga span a {
    color: #D5D5D5;
    text-decoration: none;
}

.chapter {
    width: 33%;
    float: left;
}

.current-date {
    width: 33%;
    float: left;
    font-weight: bold;
    color: #FFD600;
}