<style type="text/css">
	input[type="text"], input[type="password"], textarea{
		width: 100% !important;
	}
</style>
<div class="container-fluid col-lg-9">
    <div class="row">
      <div class="col-md-12 pa0 mt10">
        <div class="well well-sm pa5">
          <fieldset>
            <legend class="text-center pa10">
            	Liện Hệ
            	<pre style="word-break: break-word;">Web site VềNhàThôi.vn vẫn đang được xây dựng và phát triển. Hãy gửi cho chúng tôi những lỗi mà bạn thấy, những điều bạn muốn thay đổi và những chức năng bạn muốn có trên web site. Chúng tôi sẽ cố gắng để web site VềNhàThôi.vn ngày càng hoàn thiện hơn. Cảm ơn bạn vì tất cả!!</pre>
            </legend>
             
            <div class="row ma0 mt10">
              <div class="col-md-3 right">Tiêu đề: </div>
              <div class="col-md-8">
                <input id="tieude" name="contact[tieu_de]" type="text" class="ma0 w100" />
                <div class="form_error"><?= form_error("user[user_display_name]") ?></div>
              </div>
            </div>
            <div class="row ma0 mt10">
              <div class="col-md-3 right">Nội dung: </div>
              <div class="col-md-8">
                <textarea id="noidung" rows="10" style="resize: vertical;" name="contact[noi_dung]" type="text" class="ma0 w100"></textarea>
                <div class="form_error"><?= form_error("user[user_display_name]") ?></div>
              </div>
            </div>
            <!-- Form actions -->
            <div class="form-group ma0 pa10">
              <div class="col-md-12 text-right">
                <button id="send_contact" class="btn btn-primary btn-lg">Gửi</button>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
	</div>
</div>