<?php $this->load->view('includes/header.html');?>
<link rel="stylesheet" type="text/css" href="<?php echo base_url() ?>/public/css/login.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <form id="login_form" action="/home/login" method="post">
                <div class="form-login">
                <h4>Welcome back.</h4>
                <input name="user_name" type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
                </br>
                <input name="user_password" type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
                </br>
                <div class="wrapper">
                <span class="group-btn">     
                    <a id="submit" href="#" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></a>
                </span>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $("#submit").click(function (){
            $("#login_form").submit();
        });
    })
</script>