<?php $this->load->view('includes/header.html');?>
<style type="text/css">
  .col-md-3, .col-md-9{
    padding: 0px;
    margin: 0px;
  }
  .w100
  {
    width: 100%;
  }
  .form_error{
    color: red;
  }
  .form_error p
  {
    margin: 0px;
  }
</style>
<div class="container">
	<div class="row">
      <div class="col-md-10 col-md-offset-1 pa0">
        <div class="well well-sm pa5">
          <form class="form-horizontal ma0" action="/home/register" method="post">
          <fieldset>
            <legend class="text-center">Đăng ký</legend>
           <!--  <div class="row ma0 mt10">
              <?php echo validation_errors(); ?>
            </div> -->
            <div class="row ma0 mt10">
              <div class="col-md-3 right">Họ và Tên:</div>
              <div class="col-md-8">
                <input name="user[user_display_name]" type="text" class="ma0 w100" value="<?= set_value('user[user_display_name]') ?>" />
                <div class="form_error"><?= form_error("user[user_display_name]") ?></div>
              </div>
            </div>
            <div class="row ma0 mt10">
              <div class="col-md-3 right">Email:</div>
              <div class="col-md-8">
                <input name="user[user_email]" type="text" class="ma0 w100" value="<?= set_value('user[user_email]') ?>" />
                <div class="form_error"><?= form_error("user[user_email]") ?></div>
              </div>
            </div>
            <div class="row ma0 mt10">
              <div class="col-md-3 right">Tên đăng nhập:</div>
              <div class="col-md-8">
                <input name="user[user_name]" type="text" class="ma0 w100" value="<?= set_value('user[user_name]') ?>" />
                <div class="form_error"><?= form_error("user[user_name]") ?></div>
              </div>
            </div>
            <div class="row ma0 mt10">
              <div class="col-md-3 right">Mật khẩu:</div>
              <div class="col-md-8">
                <input name="user[user_password]" type="password" class="ma0 w100" value="<?= set_value('user[user_password]') ?>" />
                <div class="form_error"><?= form_error("user[user_password]") ?></div>
              </div>
            </div>
            <div class="row ma0 mt10">
              <div class="col-md-3 right">Xác nhận mật khẩu:</div>
              <div class="col-md-8">
                <input name="user[user_password_confirm]" type="password" class="ma0 w100" value="<?= set_value('user[user_password_confirm]') ?>" />
                <div class="form_error"><?= form_error("user[user_password_confirm]") ?></div>
              </div>
            </div>
            <!-- Form actions -->
            <div class="form-group ma0">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg">Đăng Ký</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
	</div>
</div>